.epitaph {
	margin-bottom: 1.5rem;

	&__name {
		font-variation-settings: "wght" 550;
		margin-bottom: 0.4rem;
	}

	&__comments {
		
	}
	      
	&__textarea {
		box-shadow: 0 0 0 1px $color-mediumgrey inset;
	    color: #000;
	    width: calc(100% - 1.6rem);
	    border: none;
	    outline: 0;
	    padding: 0.5296rem 0.8rem;
	    border-radius: 0.5rem;
	    font-size: 1.36rem;
	    line-height: 1.7408rem;
	    min-height: 5.2224rem;

	    &.active {
	    	box-shadow: 0 0 0 2px $color-black inset;
	    }
	}
	          
	&__edit {
		display: flex;
		justify-content: space-between;
	}

   .button {
   		display: inline-block;
   		font-size: 1.12rem;
		line-height: 1.7408rem;
		padding: 0.4rem 1.2rem;
		border-radius: $border-radius / 2;
		width: auto;
		margin-bottom: 0;
		margin-top: 0.8rem;

	   	&-alter {
	   		
	   	}
	    
	    &-delete {
	    	background: transparent;
	    	color: $color-red;
	    	box-shadow: 0 0 0 2px $color-red inset;

	    }
    }
}