.slider {
  position: absolute;
  top: 40%;
  max-width: 16.25rem;
  width: calc(100% - 1rem);

  &__line {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    height: 2px;
    background: $color-black;
    top: 0.5rem;
    width: 100%;
  }

  &__dot {
    position: absolute;
    z-index: 11;
    top: -0.2rem;
    background: $color-black;
    border-radius: 50%;
    width: 8px;
    height: 8px;
  }
}
