$font-size: 12.5px;
$color-white: #fff;
$color-bg: #F6F6F6;
$border-radius: 2rem;
$color-black: #000;
$link-bg: #F4F4F4;
$color-grey: rgba(0, 0, 0, 0.5);
$color-mediumgrey: #C5C5C5;
$color-lightgrey: rgba(0, 0, 0, 0.05);
$color-orange: rgba(255, 122, 0, 1);
$color-lightorange: rgba(255, 122, 0, 0.2);
$color-red: #FF2E00;
$color-violet: #9990B6;
$color-lightgreen: rgba(51, 160, 4, 0.2);
$color-green: rgba(51, 160, 4, 1);
$color-blue: #3667F6;


