.code(style="display:none;")
  a(href="#").code__close
  .code__content
    div
      img(src="../images/taran_qr.png").code__img
      h1.code__label Отсканировать QR-код c&nbsp;телефона, чтобы добавить себе в&nbsp;контакты