.events__wrapper
  .events
    .events__list
      .event
        .event__content
          .event__date
            p 4 января 2014
          .event__description
            p Пришел в студию
      .event
        .event__content
          .event__date
            p 4 января 2014
          .event__description
            p Помощь в организации музыки для 25-го ДР студии (сбылась мечта — организовал выступление Деревянных китов)
      .event
        .event__content
          .event__date
            p 4 января 2014
          .event__description
            p Помощь в организации музыки для 25-го ДР студии (сбылась мечта — организовал выступление Деревянных китов)
      .event
        .event__content
          .event__date
            p 4 января 2014
          .event__description
            p Поел!
      .event
        .event__content
          .event__date
            p 4 января 2014
          .event__description
            p Покакал!
      .event
        .event__content
          .event__date
            p 4 января 2014
          .event__description
            p Покакал Покакал!  
      .event
        .event__content
          .event__date
            p 4 января 2014
          .event__description
            p Стал руководителем группы
      .event
        .event__content
          .event__date
            p 4 января 2014
          .event__description
            p Помощь в организации музыки для 25-го ДР студии (сбылась мечта — организовал выступление Деревянных китов)
      .event
        .event__content
          .event__date
            p 4 января 2014
          .event__description
            p Помощь в организации музыки для 25-го ДР студии (сбылась мечта — организовал выступление Деревянных китов)
    
  .events__controls
    .container-fluid
      .row
        .col-xs-2.start-xs
          span.arrow.arrow_left

        .col-xs-8.center-xs

        .col-xs-2.end-xs
          span.arrow.arrow_right
