include ../mixins/slider

ul.field
  li.field__item
    .field__name
      span Место проживания
    .field__value
      a(href="#") Раменское

  li.field__item
    .field__name
      span Внутренний телефон
    .field__value
      a(href="#") доп. 200

  li.field__item
    .field__name
      span Страница на&nbsp;сайте студии
    .field__value
      a(href="#") artlebedev.ru/daler

  li.field__item
    .field__name
      span Год рождения
    .field__value
      a(href="#") 1994

  li.field__item
    .field__name
      span Город, где вырос
    .field__value
      a(href="#") Ташкент
      span , 
      a(href="#") с. Старое Эштебенькино
      span , 
      a(href="#") Самара
      span , 
      a(href="#") Москва

  li.field__item
    .field__name
      span Ранее работал
    .field__value
      a(href="#") с 23 сентября 2013 по 31 января 2018

  li.field__item
    .field__name
      span Работаю в студии
    .field__value
      a(href="#") с 12 августа 2018 г.

  li.field__item
    .field__name
      span Переадреса&shy;ция почты
    .field__value
      span Форвард

  li.field__item
    .field__name
      span Гражданство
    .field__value
      span Россия

  li.field__item
    .field__name
      span Дата окончания контракта
    .field__value
      span 15 марта 2019

  li.field__item
    .field__name
      span Рост
    .field__value
      span 185

  li.field__item
    .field__name
      span Какой рукой пишу
    .field__value
      a(href="#") Правой

  li.field__item
    .field__name
      span Cчет в кафе на 7
    .field__value
      span 1245 ₽

  li.field__item
    .field__name
      span Размер обуви
    .field__value
      a(href="#") 43

  li.field__item
    .field__name
      span Английский
    .field__value
      +slider('5%')

  li.field__item
    .field__name
      span Пью
    .field__value
      +slider('10%')
      
  li.field__item
    .field__name
      span Курю
    .field__value
      +slider('40%')

