.container-fluid
	.row
		.col-xs-12.footer
			div 
				a(href="https://www.artlebedev.ru") Art. Lebedev Studio
			div Вся информация в интранете является конфиденциальной и не может быть распространена за пределами компании.