.likes-list(style="display: none;")
  .likes-list__content
    ul
      li.likes-list__person
        img(src="images/photo.jpeg", alt="")

        .person__link
          a(href="#") Константин Константинопольский

      li.likes-list__person
        img(src="images/photo.jpeg", alt="")

        .person__link
          a(href="#") Далер Алиеров

      li.likes-list__person
        img(src="images/photo.jpeg", alt="")

        .person__link
          a(href="#") Сергей Кулинкович

      li.likes-list__person
        img(src="images/photo.jpeg", alt="")

        .person__link
          a(href="#") Егор Филипас

      li.likes-list__person
        img(src="images/photo.jpeg", alt="")

        .person__link
          a(href="#") Максим  Розов

      li.likes-list__person
        img(src="images/photo.jpeg", alt="")

        .person__link
          a(href="#") Константин Константинопольский

      li.likes-list__person
        img(src="images/photo.jpeg", alt="")

        .person__link
          a(href="#") Константин Константинопольский

      li.likes-list__person
        img(src="images/photo.jpeg", alt="")

        .person__link
          a(href="#") Константин Константинопольский
      li.likes-list__person
        img(src="images/photo.jpeg", alt="")

        .person__link
          a(href="#") Константин Константинопольский

      li.likes-list__person
        img(src="images/photo.jpeg", alt="")

        .person__link
          a(href="#") Далер Алиеров

      li.likes-list__person
        img(src="images/photo.jpeg", alt="")

        .person__link
          a(href="#") Сергей Кулинкович

      li.likes-list__person
        img(src="images/photo.jpeg", alt="")

        .person__link
          a(href="#") Егор Филипас

      li.likes-list__person
        img(src="images/photo.jpeg", alt="")

        .person__link
          a(href="#") Максим  Розов

      li.likes-list__person
        img(src="images/photo.jpeg", alt="")

        .person__link
          a(href="#") Константин Константинопольский

      li.likes-list__person
        img(src="images/photo.jpeg", alt="")

        .person__link
          a(href="#") Константин Константинопольский

      li.likes-list__person
        img(src="images/photo.jpeg", alt="")

        .person__link
          a(href="#") Константин Константинопольский
