.nav
	.nav__breadcrumbs 
		span 
			a(href="/") Интранет
			| &nbsp;/&nbsp;
			a(href="/") Люди
		span.nav__fullname &nbsp;/&nbsp;Константин Константинович Константинопольский
	a(href="").nav__profile
		.nav__pic
			img(src="images/photo.jpeg")
		.nav__name 
			span Константин Константинопольский