.nav
	.nav__breadcrumbs 
		a(href='/') Интранет
		span.nav__break &nbsp;/ 
		a(href='/people/') Люди
		span.nav__break &nbsp;/ 
		div.nav__title Константин Константинович Константинопольский

	a(href="").nav__profile
		.nav__pic
			img(src="images/photo.jpeg")
		.nav__name 
			span Константин Константинопольский