.people__list
	.block.table
		.table__alphabet.people-desktop-visible
			ul
				li A
				li Б
				li В
				li Г
				li Д
				li Е
				li Ё
				li Ж
				li З
				li И
				li.active К
				li Л
				li М
				li Н
				li О
				li П
				li Р
				li С
				li Т
				li У
				li Ф
				li Х
				li Ц
				li Ч
				li Ш
				li Щ
				li Ы
				li Э
				li Ю
				li Я

		.table__main
			.table__row.table__header
				.table__cell
				a(href="#").table__cell.active 
					span Фамилия
				a(href="#").table__cell
					span Имя
				a(href="#").table__cell 
					span Ник
				a(href="#").table__cell 
					span Должность
				a(href="#").table__cell 
					span Студийная почта
				a(href="#").table__cell 
					span Работает до..
				a(href="#").table__cell 
					span Сайт
				a(href="#").table__cell 
					span Доб.
				a(href="#").table__cell 
					span Мобильный

			.table__row
				.table__cell-mobile
					.table__cell-photo
					.table__cell-name Аширбек Абдуллаев
				.table__cell
					.online
				.table__cell Абдуллаев
				.table__cell Аширбек
				.table__cell 
				.table__cell повар
				.table__cell 
				.table__cell 
				.table__cell 
				.table__cell 
				.table__cell
					a(href="tel:+79997978965") +7 999 797-89-65

			.table__row.at-home
				.table__cell-mobile
					.table__cell-photo
					.table__cell-name Абмайкин Глеб
				.table__cell
				.table__cell
					|	Абмайкин
					.span.label В бонусном отпуске,<br>вернется через 5 дней
				.table__cell Глеб
				.table__cell abmaaykin
				.table__cell дизайнер
				.table__cell 
					a(href="mailto:abmaaykin@design.ru") abmaaykin@design.ru
				.table__cell 
				.table__cell 
				.table__cell 
				.table__cell 
					a(href="tel:+79953044075") +7 995 304-40-75

			.table__row.probation
				.table__cell-mobile
					.table__cell-photo
					.table__cell-name Константинопольский Константин
				.table__cell
					.online
				.table__cell Константинопольский
				.table__cell Константин
				.table__cell konstantin
				.table__cell Руководитель направления продаж
				.table__cell 
					a(href="mailto:valera@artlebedev.ru") valera@artlebedev.ru
				.table__cell 10 января 2022
				.table__cell
					a(href="https://artlebedev.ru") www
				.table__cell 254
				.table__cell 
					a(href="tel:+79055566719") +7 905 556-67-19

			.table__row.intern
				.table__cell-mobile
					.table__cell-photo
					.table__cell-name Константинопольский Константин
				.table__cell
					.online
				.table__cell Константинопольский
				.table__cell Константин
				.table__cell konstantin
				.table__cell Руководитель направления продаж
				.table__cell 
					a(href="mailto:valera@artlebedev.ru") valera@artlebedev.ru
				.table__cell 10 января 2022
				.table__cell
					a(href="https://artlebedev.ru") www
				.table__cell 254
				.table__cell 
					a(href="tel:+79055566719") +7 905 556-67-19
