.block.people__filters
	.people__filters-group.people-desktop-visible
		.field__input
			.radio-buttons  
				label(for="radio-1").radio-button
					input(type="radio", name="department", id="radio-1", checked="")
					div.radio-label Все
				
				label(for="radio-2").radio-button
					input(type="radio", name="department", id="radio-2")
					div.radio-label Студия

				label(for="radio-3").radio-button
					input(type="radio", name="department", id="radio-3")
					div.radio-label Торговля
	
	.people__filters-group.people-desktop-visible
		.field__input
			.radio-buttons  
				label(for="radio-4").radio-button
					input(type="radio", name="occupation", id="radio-4")
					div.radio-label Все
				
				label(for="radio-5").radio-button
					input(type="radio", name="occupation", id="radio-5", checked="")
					div.radio-label Клиентский бизнес

				label(for="radio-6").radio-button
					input(type="radio", name="occupation", id="radio-6")
					div.radio-label Творцы

				label(for="radio-7").radio-button
					input(type="radio", name="occupation", id="radio-7")
					div.radio-label Технари

				label(for="radio-8").radio-button
					input(type="radio", name="occupation", id="radio-8")
					div.radio-label Управленцы

				label(for="radio-9").radio-button
					input(type="radio", name="occupation", id="radio-9")
					div.radio-label Москва

				label(for="radio-10").radio-button
					input(type="radio", name="occupation", id="radio-10")
					div.radio-label Киев


	.people__filters-group.people-desktop-visible
		.field__input
			.radio-buttons
				label(for="radio-11").radio-button
					input(type="radio", name="group", id="radio-11", checked="")
					div.radio-label Все

				label(for="radio-12").radio-button
					input(type="radio", name="group", id="radio-12")
					div.radio-label Без группы

				label(for="radio-13").radio-button
					input(type="radio", name="group", id="radio-13")
					div.radio-label Аутсорсеры

				label(for="radio-14").radio-button
					input(type="radio", name="group", id="radio-14")
					div.radio-label Продажи

				label(for="radio-15").radio-button
					input(type="radio", name="group", id="radio-15")
					div.radio-label Стратегии и аналитика

				label(for="radio-16").radio-button
					input(type="radio", name="group", id="radio-16")
					div.radio-label Группа Арон (веб, граф)

				label(for="radio-17").radio-button
					input(type="radio", name="group", id="radio-17")
					div.radio-label Группа Каллаур (навигация, граф, реклама)

				label(for="radio-18").radio-button
					input(type="radio", name="group", id="radio-18")
					div.radio-label Группа Кондратцева (не клиентские)

				label(for="radio-19").radio-button
					input(type="radio", name="group", id="radio-19")
					div.radio-label Группа Кравцовой (веб, граф)

				label(for="radio-20").radio-button
					input(type="radio", name="group", id="radio-20")
					div.radio-label Группа Прищепы (пром, граф)

				label(for="radio-21").radio-button
					input(type="radio", name="group", id="radio-21")
					div.radio-label Группа Смирнова (арх)

				label(for="radio-22").radio-button
					input(type="radio", name="group", id="radio-22")
					div.radio-label Группа Ульяновой (граф, навигация)

				label(for="radio-23").radio-button
					input(type="radio", name="group", id="radio-23")
					div.radio-label Группа Шамбы (веб, граф)

	.people__filters-group
		.people__search
			.people__searchbar
				.field__input
					.field__input-text
						input(type="text", placeholder="", value="")

			.people__selectors.people-desktop-visible
				div
					.select-label Должность
					.select.select-inline
						.select-options
							select
								option —
								option администратор
								option администратор Theatre.ru
								option аккаунт
								option аналитик
								option аналитик-менеджер
								option арт-директор
								option архитектор
								option ассистент менеджера
								option бариста
								option бета-тестер
								option бухгалтер
								option бухгалтер-кассир
								option ведущий соцсетей
								option верстальщик
								option видеооператор
								option визуализатор
								option водитель
								option главный архитектор
								option главный бухгалтер
								option главный по культурным проектам
								option главный программист
								option главный редактор
								option дизайнер
								option директор
								option директор клиентского бизнеса
								option директор по персоналу
								option директор по продажам
								option директор по&nbsp;производству
								option иллюстратор
								option инженер
								option инженер авторского надзора
								option исследователь
								option картограф
								option кодер
								option кондитер
								option конструктор упаковки
								option контент-менеджер
								option копирайтер
								option курьер
								option маркетинг-менеджер
								option менеджер
								option менеджер на Украине
								option менеджер по доставке
								option менеджер по продажам
								option менеджер по продукту
								option младший менеджер
								option офис-менеджер
								option переводчик
								option повар
								option посудомойка
								option программист
								option проектировщик
								option промышленный дизайнер
								option редактор
								option режиссер монтажа
								option руководитель группы
								option руководитель направления продаж
								option сайтовод
								option системный администратор
								option стратег
								option суперменеджер
								option тендерный специалист 
								option технический директор
								option технолог
								option транскрибер
								option уборщица
								option управляющий
								option урбанист-стратег
								option финансовый директор
								option фотограф
								option художественный руководитель
								option шрифтовик
								option юрист

				div
					.select-label Сортировать по
					.select.select-inline
						.select-options
							select
								option —
								option имени
								option(selected="selected") фамилии
								option отчеству
								option нику
								option полу
								option должности
								option студийной почте
								option личной почте
								option адресу сайта
								option адресу ЖЖ
								option адресу Твиттера
								option логину в Фейсбуке
								option адресу Инстаграма
								option адресу ВКонтакте
								option адресу Телеграма
								option по Скайпу
								option логину
								option «работает с...»
								option «работает до...»
								option часам работы
								option добавочному телефону
								option мобильному телефону
								option мобильному телефону 2
								option домашнему телефону
								option месту проживания
								option городу, где вырос
								option гражданству
								option дате рождения
								option автомобилю
								option размеру обуви
								option росту
								option «правша — левша»
								option «курит — не курит»
								option «пьет — не пьет»
								option испытательному сроку
								option знанию языков
								option навыкам
								option хочет попробовать

		.field__input
			.field__input-checkbox.field__input-checkbox
				.field__value
					span#search-result Найдено 134 сотрудника
				.checkbox.checkbox-inline
					input(type="checkbox", name="photo", id="photo", checked="")
					.checkbox-label Показать фото

				.checkbox.checkbox-inline
					input(type="checkbox", name="online", id="online")
					.checkbox-label Сейчас в Студии