.profile__epitaph.epitaph
  .block
    h3 Эпитафия
    
    .epitaph__comments
      .epitaph
        .epitaph__name
          span Константин Константинович
        .epitaph__text
          p Профессионал - это тот специалист, который в любой области и при любом раскладе знает, как сделать то же самое.
        .epitaph__edit
          button.button.button-2.button-alter Изменить
          button.button.button-2.button-delete Удалить

      .epitaph
        .epitaph__name
          span Константин Константинович
        .epitaph__text
          p Профессионал - это тот специалист, который в любой области и при любом раскладе знает, как сделать то же самое.

      .epitaph
        .epitaph__name
          span Константин Константинович
        .epitaph__text
          p Профессионал - это тот специалист, который в любой области и при любом раскладе знает, как сделать то же самое.

    .epitaph__input
      .epitaph__textarea(contenteditable="true")
      button.button.button-2 Отправить