.profile__company

  .block.block_list
    h3 Наставники
    ul
      li 
        a(href="#") 
          span Петя Моругин
      li 
        a(href="#") 
          span Сережа Дмитриев
      li 
        a(href="#") 
          span Света Минакова
      li 
        a(href="#") 
          span Сережа Кулинкович
      li 
        a(href="#") 
          span Людвиг Быстроновский

  .block.block_list
    h3 Хочу попробовать
    ul
      li 
        a(href="#") 
          span Анимация
      li 
        a(href="#") 
          span Звуковой дизайн
      li 
        a(href="#") 
          span 3D
      li 
        a(href="#") 
          span Figma
      li 
        a(href="#") 
          span Блендер и моделирование

  .block.block_text.time
    p Время нахождения в офисе
    h2 8ч. 15м.