.module.hire(style="display:none;")
  div
    .module__content
      .container
        .row
          .col-xs-0.col-lg-2
          .col-xs-12.col-lg-8
            .block
              .title.desktop-visible
                h3 Информация о найме 
              
              a(href="#").module__close

              ul.field
                li.field__item
                  .field__name
                    span Место проживания
                  .field__value
                    a(href="#") Раменское

                li.field__item
                  .field__name
                    span Внутренний телефон
                  .field__value
                    a(href="#") доп. 200

                li.field__item
                  .field__name
                    span Страница на&nbsp;сайте студии
                  .field__value
                    a(href="#") artlebedev.ru/daler
            .col-xs-0.col-lg-2