.profile__competitions

	.block.block__list
		.title.desktop-visible
			h3 Компетенции 
			.label
				p Видно только вам

		p.description.desktop-visible Руководители групп раз в&nbsp;полгода выставляют оценку по&nbsp;компетенциям по&nbsp;результатам ассессмента

		.table
			ul.field
				li.field__item
					
					.field__name.colname
						span Управление командой
					
					.field__value.colname 
						span Оценка

				li.field__item
					
					.field__name
						span Умение планировать
					
					.field__value 
						span 1 из 1

				li.field__item
					
					.field__name
						span Лидерство и&nbsp;руководство
					
					.field__value 
						span 1 из 1

				li.field__item
					
					.field__name
						span Ответственность
					
					.field__value 
						span 2 из 1

		.table
			ul.field
				li.field__item
					
					.field__name.colname
						span Коммуникация
					
					.field__value.colname 

				li.field__item
					
					.field__name
						span Взаимодействие с&nbsp;клиентом
					
					.field__value 
						span 1 из 1

				li.field__item
					
					.field__name
						span Устная и &nbsp;письменная коммуникация
					
					.field__value 
						span 2 из 0


