.profile__about
  .block.block_text
    h3.desktop-visible О себе
    p 
      p Горжусь своей семьей! Люблю узнавать и познавать новое, путешествовать, слушать шум морского прибоя, общаться с людьми, смотреть на хорошие картины и фотографии. 
      span.show-more-elipsis &lt;...&gt;

  .block.block_list
    div
      a(href="#").person-code

      include ../blocks/code.pug

      h3 Связаться со мной
      ul
        li 
          a(href="#") 
            span Telegram
        li 
          a(href="#") 
            span Instagram
        li 
          span Сайт

  .block.block_list
    h3 Навыки
    ul
      li 
        a(href="#") 
          span Переговоры
      li 
        a(href="#") 
          span Управление проектами
      li 
        a(href="#") 
          span Написание брифов
      li 
        a(href="#") 
          span Редактура
      li 
        a(href="#") 
          span Управление командой

  .block.block_text
    h3 Обязанности
    p Растить и беречь продукты студии. Создавать условия для того, чтобы работа на проектах приносила команде — радость, клиентам — пользу, студии — деньги.

