.recommended
	.recommended__header.container
			h2 Возможно, эти люди будут тебе близки

			.show-hidden
				span Показать скрытых 3

	.recommended__list.container
		a.card
			.card-profile
				img(src="images/photo.jpeg", alt="") 			

				div
					.card-profile__name Константин Константинопольский
					.card-profile__position Менеджер
  			
			ul.card-description 
				li.card-description__item 
					.card-description__name 
						span Место проживания
					.card-description__value 
						span Раменское  

				li.card-description__item 
					.card-description__name 
						span Дата рождения
					.card-description__value 
						span 13 апреля 1994

				li.card-description__item 
					.card-description__name 
						span Умею
					.card-description__value 
						span Анимация
		a.card
			.card-profile
				img(src="images/photo.jpeg", alt="") 			

				div
					.card-profile__name Алина Баженова
					.card-profile__position Менеджер
  			
			ul.card-description 
				li.card-description__item 
					.card-description__name 
						span Хочу научиться
					.card-description__value 
						span Анимация, Звуковой дизайн, Управление командой

				li.card-description__item 
					.card-description__name 
						span Знак зодиака
					.card-description__value 
						span Козерог

		a.card
			.card-profile
				img(src="images/photo.jpeg", alt="") 			

				div
					.card-profile__name Алина Баженова
					.card-profile__position Менеджер
  			
			ul.card-description 
				li.card-description__item 
					.card-description__name 
						span Хочу научиться
					.card-description__value 
						span Анимация, Звуковой дизайн, Управление командой

				li.card-description__item 
					.card-description__name 
						span Знак зодиака
					.card-description__value 
						span Козерог

		a.card
			.card-profile
				img(src="images/photo.jpeg", alt="") 			

				div
					.card-profile__name Алина Баженова
					.card-profile__position Менеджер
  			
			ul.card-description 
				li.card-description__item 
					.card-description__name 
						span Хочу научиться
					.card-description__value 
						span Анимация, Звуковой дизайн, Управление командой

				li.card-description__item 
					.card-description__name 
						span Знак зодиака
					.card-description__value 
						span Козерог

		a.card
			.card-profile
				img(src="images/photo.jpeg", alt="") 			

				div
					.card-profile__name Алина Баженова
					.card-profile__position Менеджер
  			
			ul.card-description 
				li.card-description__item 
					.card-description__name 
						span Хочу научиться
					.card-description__value 
						span Анимация, Звуковой дизайн, Управление командой

				li.card-description__item 
					.card-description__name 
						span Знак зодиака
					.card-description__value 
						span Козерог

		a.card
		a.card
		a.card
		a.card
		a.card

	.recommended__controls.container
		.row
			.col-xs-6.start-xs
				span.arrow.arrow_left.disabled

			.col-xs-6.end-xs
				span.arrow.arrow_right